@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Mesaj Detay Sayfası</h1>
<br />


@Html.Label("Mesaj ID")
@Html.TextBoxFor(b => b.MessageID, new { @class = "form-control" , disabled = "disabled" })
<br />
@Html.Label("Gönderen ")
@Html.TextBoxFor(b => b.SenderUser.WriterName, new { @class = "form-control", disabled = "disabled" })
<br />
@Html.Label("Mesaj konusu")
@Html.TextBoxFor(b => b.Subject, new { @class = "form-control", disabled = "disabled" })
<br />
@Html.Label("Mesaj")
@Html.TextAreaFor(b => b.MessageDetails, 20, 3, new { @class = "form-control", disabled = "disabled" })
<br />
<a href="/Message/InBox/" class="btn btn-success">Mesajlara Dön</a>


