@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">



<body>



    <!--//banner-->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                   
                    


                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="single.html">
                                        <img src="~/web/images/b1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i>  @(((DateTime)Model.BlogCreateDate).ToString("dd-MMM-yyyy"))
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                            <i class="far fa-thumbs-up"></i>  @ViewBag.AverageScore
                                        </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                            <i class="far fa-comment"></i> @Model.Comments.Count Yorum
                                            </a>
                                        </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-user"></i> @Model.Writer.WriterName  
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-envelope"></i> @Model.Writer.WriterMail
                                        </a>
                                    </li>

                                    </ul>
                                </div>
                            </div>

                            <h3>
                            <a href="single.html">@Model.BlogTitle </a>
                            </h3>
                        <p>@Model.BlogContent</p>
                            <a href="Blog/Index" class="btn btn-primary read-m">Blog Listesi</a>
                        </div>
                    
                    @await Component.InvokeAsync("CommentListByBlog",new {id =ViewBag.i})
                    @* @await Html.PartialAsync("~/Views/Comment/CommentListByBlog.cshtml") *@
                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")


                </div>

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        <h4>Mail bültenimize abone olun</h4>

                        @await Html.PartialAsync("~/Views/Newsletter/SubscribeMail.cshtml")

                        @await Component.InvokeAsync("CategoryList")

                        @await Component.InvokeAsync("WriterLastBlog", new {writerId=ViewBag.writerId})

                        @await Component.InvokeAsync("BlogLast3Post")

                        @await Component.InvokeAsync("BlogMost3Commented")

                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>



</body>

</html>

