@model BlogUpdateViewModel
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Düzenleme Sayfası</h1>
<br />

@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(b => b.BlogID) 
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(b => b.BlogTitle, new { @class = "form-control" })
    <br />

    @Html.Label("Mevcut Blog Küçük Görseli")
    <img src="@Model.BlogThumbnailImage" class="img-thumbnail" width="150" height="100" />
    <br />
    @Html.Label("Yeni Blog Küçük Görseli Yükleyin")
    <input type="file" name="BlogThumbnailFile" class="form-control" />
    <br />

    @Html.Label("Mevcut Blog Görseli")
    <img src="@Model.BlogImage" class="img-thumbnail" width="150" height="100" />
    <br />
    @Html.Label("Yeni Blog Görseli Yükleyin")
    <input type="file" name="BlogImageFile" class="form-control" />
    <br />

    @Html.Label("Blog Kategori")
    @Html.DropDownListFor(b => b.CategoryID, Model.Categories, "Kategori Seçiniz", new { @class = "form-control" })
    <br />

    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(b => b.BlogContent, 10, 3, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Güncelle</button>
}
