@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<EntityLayer.Concrete.Message2>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>


<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMessage/ComposeMessage/">Yeni Mesaj Oluştur</a>
                            <div class="space-25"></div>
                            <h5>Klasörler</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Admin/AdminMessage/InBox/"> <i class="fa fa-inbox "></i> Gelen Mesajlar <span class="label label-warning float-right">@ViewBag.InBoxUnreadCount</span> </a></li>
                                <li><a href="/Admin/AdminMessage/SendBox/"> <i class="fa fa-envelope-o"></i> Giden Mesajlar</a></li>
                                <li><a href="/Admin/AdminMessage/ComposeMessage/"> <i class="fa fa-plus"></i> Mesaj Oluştur </a></li>

                            </ul>
                            <h5>Kategoriler</h5>
                            <ul class="category-list" style="padding: 0">
                                <li><a href="#"> <i class="fa fa-circle text-navy"></i> İş </a></li>
                                <li><a href="#"> <i class="fa fa-circle text-danger"></i> Dökümanlar</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-primary"></i> Sosyal</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-info"></i> Tanıtımlar</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-warning"></i> Talepler</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">

                    <form method="get" action="index.html" class="float-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" name="search" placeholder="Mail Ara">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    Ara
                                </button>
                            </div>
                        </div>
                    </form>
                    <h2>
                        Giden Kutusu (@ViewBag.SendBoxCount)
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group float-right">
                            

                        </div>
                        <a href="/Admin/AdminMessage/InBox/" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Yenile">
                            <i class="fa fa-refresh"></i> Yenile
                        </a>
                    </div>
                </div>
                <div class="mail-box">

                    <table class="table table-hover table-mail">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="read">
                                    <td class="mail-icon">
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td class="mail-ontact"><a href="mail_detail.html">@item.ReceiverUser.WriterName</a></td>
                                    <td class="mail-subject"><a href="mail_detail.html">@item.Subject</a></td>
                                    <td class="text-right mail-date"> @(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                                    <td>
                                        <a href="/Admin/AdminMessage/MessageDetailSendBox/@item.MessageID" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Mesajı Görüntüle">Mesajı Görüntüle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("SendBox", "AdminMessage", new { area = "Admin", page }))


                </div>
            </div>
        </div>
    </div>


</body>

</html>

